absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
blinker==1.9.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1749229914644/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
captum==0.8.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560551097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click==8.3.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy==1.3.3
cycler==0.12.1
dash==3.3.0
dgl @ file:///Users/runner/miniforge3/conda-bld/dgl_1725322575597/work/python
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
Flask==3.1.2
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1739279199749/work
fonttools==4.59.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1752608696525/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1733299680490/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1745509483149/work
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1713388347891/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1749299298085/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
itsdangerous==2.2.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib==1.5.2
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1747722781675/work
kiwisolver==1.4.9
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1750360292101/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
matplotlib==3.10.5
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
ml-dtypes @ file:///Users/runner/miniforge3/conda-bld/ml_dtypes_1725475063403/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1748346368839/work
narwhals==2.13.0
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225640867/work/dist/numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl#sha256=b62b8b824024855c3eb209bd45bfcf60bc9a11b94cbf9d5b7b25dc503021e672
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1753455098495/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1752081868801/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1751482124640/work
plotly==6.5.0
protobuf==4.25.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1740663164053/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1749927112905/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1746625315/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing==3.2.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454702303/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
retrying==1.4.2
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1753436991/work/dist
scikit-learn==1.7.2
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1754969186183/work/dist/scipy-1.16.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=a12d24d59bb5e0a4f3bae6d1ab078c76a864c04e615325caf8e0db2d4f149b8c
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1723713090305/work/tensorboard-2.17.1-py3-none-any.whl#sha256=253701a224000eeca01eee6f7e978aea7b408f60b91eb0babdb04e78947b773e
tensorboard_data_server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1728639775547/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=9f6ce3e3e4eea9dd3e6770c928a4bcc70d0935606d30b02426628c0505368959
tensorflow @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock/tensorflow-feedstock-osx_arm64_python3.11.____cpython/miniforge3/conda-bld/tensorflow-split_1721482731909/work/tensorflow_pkg/tensorflow-2.17.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=070813edc82fb72a68f49a292558339ccc04f7f282990122f70f8b488b5e2c15
tensorflow_estimator @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock/tensorflow-feedstock-osx_arm64_python3.11.____cpython/miniforge3/conda-bld/tensorflow-split_1721482731909/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=85b51f4a645f35eb8448469ceb2439dfae15fd474ab0321d35a6738f986a4329
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1746039537955/work
threadpoolctl==3.6.0
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1719361060788/work
torchdata==0.7.1
torchvision==0.18.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1747870647094/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1755006400571/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
